# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
src/NanoVNASaver/antenna_peter/tmp_sts3215_servo_z_h.json
src/NanoVNASaver/antenna_peter/util_persist.
*663_iteration*


# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
**/_version.py
.flatpak-builder/*
macbuildenv/*
NanoVNASaver.spec
nanovna-saver.py
src/NanoVNASaver/Windows/ui/about.py

# Per-project virtualenvs
.venv*/
.conda*/
.python-version


*.spec
*_rc.py
NanoVNASaver*.txt*
**/tmp_sts3215_servo_f_logs/*
**/tmp_sts3215_servo_f.json

src/NanoVNASaver/antenna_peter/663_iteration/ablaufsteuerung.bat
NanoVNASaver.txt.1
src/NanoVNASaver/antenna_peter/history/history_tuning_data.jsonl
